// Enable DSL2
nextflow.enable.dsl = 2

manifest {
  name        = 'Hmmix-pipeline'
  description = 'Nextflow pipeline for running hmmix to detect archaic introgression'
  author      = 'Kitty B Murphy'
  version     = '1.0/0'
  nextflowVersion = '>=24.04.4'
}

// Default parameters
params {
  ind         = null   // required: path to ingroup samples JSON
  vcf         = null   // required: path to BCF/VCF files (supports wildcards, e.g. chr*.bcf)
  weights     = null   // required: callability mask BED file
  ancestral   = null   // required: ancestral allele FASTA (supports wildcards, e.g. chr*.fa)
  refgenome   = null   // required: reference genome FASTA (supports wildcards, e.g. chr*.fa)
  outgroup_file = null  // optional: skip create_outgroup step, path to pre-made outgroup file
  mutrate_file  = null  // optional: skip mutation_rate step, path to pre-made mutation rate file
  haploid     = false // optional: change from using diploid data to haploid data
  admix_pop    = null // optional: path to VCF file for admixing population annotation 
  extra_info  = false // optional: add variant position for each SNP 
  posterior_probs = null // optional: filename for posterior probabilities output  
  window_size = 1000000
  outDir = "./results"
  reportDir = "./results/reports"
}

// Process defaults and labels
process {
  // Default if no label or withName matches
  memory = '4 GB'
  cpus   = 2
  time   = '4h'
  maxRetries = 2

  // Resource labels
  // Create_ingroup
  withLabel: 'create_ingroup' {
    memory = { 4.GB * task.attempt }
    cpus   = 2
    time   = { 8.h }
  }

  // Train
  withLabel: 'train' {
    memory = { 4.GB * task.attempt }
    cpus   = 1
    time = { 15.m * task.attempt }
  }
  // Decode
  withLabel: 'decode' {
    memory = { 4.GB * task.attempt }
    cpus   = 1
    time = { 5.m * task.attempt }
  }
}

// Profiles
profiles {
  // Test profile: runs on chr1 only
  test {
    process.executor = 'slurm'
    params {
      ind       = "$projectDir/test/data/test.json"
      vcf       = "$projectDir/test/data/GTEx_v9_subset.chr1.bcf"
      weights   = "$projectDir/test/data/hg38_strick_callability_mask.bed"
      ancestral = "$projectDir/test/data/homo_sapiens_ancestor_chr1.fa"
      refgenome = "$projectDir/test/data/chr1.fa"
      outDir    = "./test/results"
      reportDir = "./test/results"
    }
  }

  // SLURM profile: for cluster execution
  slurm {
    process.executor = 'slurm'
  }
}

// Reports
trace {
  enabled = true
  overwrite = true 
  file    = "${params.reportDir}/pipeline_trace.txt"
  fields  = 'task_id,name,status,exit,memory,cpus,time,duration,realtime,%cpu,%mem'
}

report {
  enabled   = true
  overwrite = true
  file      = "${params.reportDir}/pipeline_report.html"
}

timeline {
  enabled   = true
  overwrite = true
  file      = "${params.reportDir}/pipeline_timeline.html"
}

cleanup = true