// Enabl DSL2
nextflow.enable.dsl=2

// Default parameters (used in SLURM runs unless overridden)
params {
  ind        = "/home/lqx346/hmmix/data/GTEx/input/ingroup_samples.json"
  vcf        = "/home/lqx346/hmmix/data/GTEx/GTEx_v9_subset.chr*.bcf"
  weights    = "/projects/archaic_introgression-AUDIT/data/resources/Archaic_introgression_files/hg38_strick_callability_mask.bed"
  ancestral  = "/projects/archaic_introgression-AUDIT/data/resources/Archaic_introgression_files/hg38_ancestral/homo_sapiens_ancestor_chr*.fa"
  refgenome  = "/projects/archaic_introgression-AUDIT/data/resources/Archaic_introgression_files/hg38_refgenome/chr*.fa"
  window_size = 1000000
}

// Profiles
profiles {
  // Test profile: runs locally with small test data
  test {
    process.executor = 'slurm'
    process.memory = '8 GB'
    process.cpus = 2
    params {
      ind        = "/home/lqx346/hmmix/data/GTEx/input/test.json"
      vcf        = "/home/lqx346/hmmix/data/GTEx/GTEx_v9_subset.chr1.bcf"
      weights    = "/projects/archaic_introgression-AUDIT/data/resources/Archaic_introgression_files/hg38_strick_callability_mask.bed"
      ancestral  = "/projects/archaic_introgression-AUDIT/data/resources/Archaic_introgression_files/hg38_ancestral/homo_sapiens_ancestor_chr1.fa"
      refgenome  = "/projects/archaic_introgression-AUDIT/data/resources/Archaic_introgression_files/hg38_refgenome/chr1.fa"
    }
  }
  
  // Local profile: runs locally with full data
  local {
    process.executor = 'local'
    process.memory = '16 GB'
    process.cpus = 8
  }
  
  // SLURM profile: for cluster execution
  slurm {
    process.executor = 'slurm'
    process.memory = '32 GB'
    process.cpus = 2
    process.time = '12h'
  }
}
